.nav-item{
    margin-left: 80px;
}
#heart{
    margin-left: 80px;

}
body {
  overflow-x: hidden;
    padding:0px 10px 0px 10px;
}

.carousel img {
    width: 100%;
    object-fit: cover;
    display: block;
}

section {
  min-height: 50vh; /* Adjust as needed */
  padding: 40px 0;
}

.accordion-item {
  background: #222;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  border: none;
}

.accordion-button {
  background: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 8px 8px 8px 8px;
  transition: background 0.3s;
}

.accordion-button:not(.collapsed) {
  background: #444;
  color: #ffd700;
}

.accordion-body {
  background: #222;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

footer {
  padding: 24px 0; 
  min-height: 60px; 
  width: 100%;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.8);
  border-top: 1px solid #444;
}

footer a:hover, .bi:hover {
  color: #fff;
}

footer a, .bi {
  color: #ffd700;
  transition: color 0.2s;
}

  .card-footer .bi-cart4 {
    color: #fff; /* Change to #ffd700 for gold, #fff for white, etc. */
    font-size: 1.3em;
    vertical-align: middle;
  }

a{
  color: #ffd700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label{
  margin-top: 8px;
  font-weight: bold;
}

placeholder{
  color:#333;
}

